[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[user]
    email = niklas.haag@yahoo.de
    name = Niklas Haag
[core]
    editor = nvim
	excludesfile = /home/niklas/.gitignore_global
