[include]
	path = ~/.gitconfig.local

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[user]
	email = niklas.haag@yahoo.de
	name = Niklas Haag

[init]
	defaultBranch = main

[status]
	submodulesummary = 1

[pull]
	rebase = true

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

# https://blog.gitbutler.com/how-git-core-devs-configure-git/

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[fetch]
	prune = true
	pruneTags = true

[help]
	autocorrect = prompt

[commit]
	verbose = true

[rerere]
	enabled = true
	autoupdate = true

[core]
	excludesfile = ~/.gitignore_global
	editor = nvim

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[merge]
	conflictstyle = zdiff3
